.navbar{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
   
  

    
}
.wraper{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 25px;
}
.items{
    display: flex;
    align-items: center;
  column-gap: 20px;
}

.item{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 5px;


}
.search_input{
    border: none;
    outline: none;
    background-color: transparent;
}
.icon{
    font-size: 20px;
}
.profile_pic{
    width: 30px;
    height: 30px;
 border-radius: 50%;
 object-fit: cover;

}